{
    "max_agents": 10,
    "ai_provider": "together",
    "vector_db_provider": "pinecone",
    "embedding_provider": "voyage",
    "embedding_max_chunk_size": 128,
    "vector_db_max_concurrent_requests": 25,
    "together_ai": {
        "api_key": "YOUR_API_KEY",
        "primary_chat_model": "meta-llama/Llama-3.3-70B-Instruct-Turbo",
        "secondary_chat_model": "meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo-128K"
    },
    "openai": {
        "api_key": "YOUR_API_KEY",
        "primary_chat_model": "o3-mini",
        "secondary_chat_model": "gpt-4o-mini"
    },
    "voyage_ai": {
        "api_key": "YOUR_API_KEY",
        "embedding_model": "voyage-code-3",
        "rerank_model": "rerank-2-lite"
    },
    "svector": {
        "api_key": "YOUR_API_KEY",
        "region": "YOUR_REGION",
        "database_id": "YOUR_DATABASE_ID"
    },
    "pinecone": {
        "api_key": "YOUR_API_KEY",
        "index_name": "YOUR_INDEX_NAME"
    }
}
